/target
/.settings
.classpath
.project
.springBeans
/.idea
*.iml
.mymetadata
*.eml
/src/main/resources/dbconfig.properties
/src/main/resources/jdbc.properties
/src/main/resources/redis.properties
/src/main/resources/jeecg/jeecg_database.properties


.externalToolBuilders
